.DS_Store
.idea
nbproject
/var
/public/*
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/ext
!/public/typo3conf/ext/site_typo3book
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
