<div id="wrapper">
    <f:render partial="Header" arguments="{menu: menu, homePageUid: homePageUid}"/>
    <div id="main">
        <f:cObject typoscriptObjectPath="lib.renderContent" data="{colPos: 0}" />
    </div>
    <section id="sidebar">
        <section id="intro">
            <f:link.typolink parameter="{homePageUid}">
                <f:image src="EXT:site_typo3book/Resources/Public/Icons/Extension.svg" maxWidth="160"/>
            </f:link.typolink>
            <header>
                <h2>{data.title}</h2>
                <p>{data.subtitle}</p>
            </header>
        </section>

        <!-- Mini Posts -->
        <section>
            <div class="mini-posts">
                <f:cObject typoscriptObjectPath="lib.renderContent" data="{colPos: 1}" />
            </div>
        </section>
    </section>
</div>
