<header id="header">
    <h1>
        <f:link.typolink parameter="{homePageUid}"/>
    </h1>
    <nav class="links">
        <f:if condition="{menu}">
            <ul>
                <f:for each="{menu}" as="page">
                    <li>
                        <f:link.page pageUid="{page.data.uid}">{page.title}</f:link.page>
                    </li>
                </f:for>
            </ul>
        </f:if>
    </nav>
    <nav class="main">
        <ul>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>
<section id="menu">
    <section>
        <f:if condition="{menu}">
          <ul class="links">
              <f:for each="{menu}" as="page">
                  <li>
                      <f:link.page pageUid="{page.data.uid}">
                          <h3>{page.title}</h3>
                          <p>{page.subtitle}</p>
                      </f:link.page>
                  </li>
              </f:for>
          </ul>
        </f:if>
    </section>
</section>

<f:comment>
    <!-- manual set up futzing: -->
    <f:link.typolink parameter="{pageUid}">
        <h1>{title}</h1>
    </f:link.typolink>

    <h2>yay</h2>

    <f:if condition="{mediaObj.uid}">
        <f:then>
            <f:image src="{mediaObj.uid}" treatIdAsReference="1" maxWidth="300"></f:image>
        </f:then>
        <f:else>
            no image provided!
        </f:else>
    </f:if>
    {mediaObj.title}
    <f:if condition="{menu}">
        <ul>
            <f:for each="{menu}" as="page">
                <li>
                    <f:link.page pageUid="{page.data.uid}">{page.title}</f:link.page>
                    <f:if condition="{page.children}">
                        <ul>
                            <f:for each="{page.children}" as="child">
                                <li>
                                    <f:link.page pageUid="{child.data.uid}">{child.title}</f:link.page>
                                </li>
                            </f:for>
                        </ul>
                    </f:if>

                </li>
            </f:for>
        </ul>
    </f:if>
</f:comment>